Directory {
  dock: left;
  display: none;
  offset-x: -100%;
  max-width: 40;
  height: 100%;
  border: tall $primary-darken-1;
}

Directory._visible {
  offset-x: 0;
  display: block;
}

Stage {
  min-width: 30;
  max-width: 40;
  height: 100%;
  border: panel $primary;
  color: $secondary;
  border-title-align: center;

  border-title-color: black;
  border-title-background: white;
  border-title-style: bold;
}

Stage._actual {
  border: panel $secondary;
  color: $primary;
}

StagesContainer {
  height: 100%;
}
